@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    letter-spacing: 1px;
    @apply font-mono;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@layer components {
  .bg-color {
    @apply bg-black;
  }

  .bg-header {
    @apply bg-black shadow-xl;
  }

  .bg-button {
    @apply bg-gradient-to-r from-red-500 to-orange-500 px-4 py-1 rounded-md;
  }
  .bg-button:hover {
    @apply bg-gradient-to-r from-red-700 to-orange-700;
  }

  .text-gradient-hero {
    @apply font-bold bg-gradient-to-r from-blue-500 to-purple-500 bg-clip-text p-1 text-transparent;
  }
}
